@model WebLaptopVM.Models.Admin

@{
    ViewBag.Title = "Delete";
}

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5>
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Xóa @Html.DisplayFor(model => model.Name)</h3></div>
                                <div class="card-body">
                                    <div>
                                        <hr />
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Level1.Name)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Level1.Name)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Sex1.Name)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Sex1.Name)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Name)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Account)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Account)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Password)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Password)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Email)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Email)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Phone_number)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Phone_number)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Address)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Address)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.Image)
                                            </dt>

                                            <dd>
                                                @{
                                                    string ImagePath = "~/Images/Admin/" + Model.Image;
                                                }
                                                <img src="@Url.Content(ImagePath)" width="300" class="img-thumbnail" />
                                                <br />
                                            </dd>

                                        </dl>

                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-actions no-color">
                                                <input type="submit" value="Delete" class="btn btn-default" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

